# i. Perkenalan

- Nama = Muhammad Farhan Hendriyanto
- Batch = HCK-027

- Tujuan = Sebagai inference dari Milestone 2

# ii. Import Libraries

In [1]:
# import libraries
import pickle
import pandas as pd

# iii. Load Model

In [3]:
# get data
with open('D:/Hacktiv8/Phase 1/Milestone 1/p1-ftds027-hck-m2-MFarhanH/randomforest_regression_best.pkl', 'rb') as file:
    model_fe = pickle.load(file)

# iv. Input data

In [ ]:
#create new data

data_inf_1 = {


'Agent Name': 'Swiggy Instamart',
 'Delivery Time': 42,
 'Location': 'Kolkata',
 'Order Type': 'Pharmacy',
 'Customer Feedback Type':'Negative',
 'Price Range':'Medium',
 'Discount Applied': 'Yes',
 'Product Availability':'Out of Stock',
 'Customer Service Rating': 1,
 'Order Accuracy':'Correct'
}

data_inf_2 = {

'Agent Name': 'Zepto',
 'Delivery Time': 22,
 'Location': 'Jaipur',
 'Order Type': 'Pharmacy',
 'Customer Feedback Type':'Positive',
 'Price Range':'Medium',
 'Discount Applied': 'No',
 'Product Availability':'Out of Stock',
 'Customer Service Rating': 5,
 'Order Accuracy':'Incorrect'
}

data_inf1 = pd.DataFrame([data_inf_1])
data_inf1

,Agent Name,Delivery Time,Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,Swiggy Instamart,42,Kolkata,Pharmacy,Negative,Medium,Yes,Out of Stock,1,Correct

In [5]:
data_inf2 = pd.DataFrame([data_inf_2])
data_inf2

,Agent Name,Delivery Time,Location,Order Type,Customer Feedback Type,Price Range,Discount Applied,Product Availability,Customer Service Rating,Order Accuracy
0,Zepto,22,Jaipur,Pharmacy,Positive,Medium,No,Out of Stock,5,Incorrect

# v. Predict data

In [6]:
#predict using lin reg
y_pred_inf = model_fe.predict(data_inf1)
print(f'{int(y_pred_inf):,.0f}')

3

C:\Users\farha\AppData\Local\Temp\ipykernel_15916\4043218822.py:3: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(f'{int(y_pred_inf):,.0f}')

In [7]:
#predict using lin reg
y_pred_inf = model_fe.predict(data_inf2)
print(f'{int(y_pred_inf):,.0f}')

2

C:\Users\farha\AppData\Local\Temp\ipykernel_15916\4032646362.py:3: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(f'{int(y_pred_inf):,.0f}')

# vi. Kesimpulan
Kesimpulannya adalah model sudah bisa berfungsi dan memebrikan output, namun sayang masih bisa dikatakan overfitt karena model memiliki performan yang lebih baik pada saat melakukan training.